.App {
  text-align: center;
}

.logo {
  animation: logo-spin infinite 20s linear;
  height: 70px;
}
.logo2 {
  animation: logo-spin2 infinite 20s linear;
  height: 70px;
}

.App-title {
  font-size: 2em;
}

.App-intro {
  font-size: large;
}

header{
  background-color: rgba(244, 104, 66, 0.75);
  height: 130px;
  padding: 20px;
}

h1{
  color: rgba(224, 86, 27, 1.0);
  margin-top: -10px;

}

t1{
  color: rgba(232, 124, 78, 1.0);
  margin-top: 20px;
  font-size: 70px;
}

t2{
  color: rgba(232, 124, 78, 1.0);
  margin-top: 20px;
  font-size: 30px;
}
t3{
  color: rgba(232, 124, 78, 1.0);
  margin-top: 0px;
  font-size: 20px;
}

@keyframes logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
@keyframes logo-spin2 {
  from { transform: rotate(360deg); }
  to { transform: rotate(0deg); }
}
